.SignupSuccessModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #000;

  .successModalText {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 10px;
  }

  .bactToLoginBtn {
    display: grid;
    place-items: center;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2d4a32;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
