<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>パスワードリセットのご案内</h1>
    <p><%= @user.email %> 様、</p>
    <p>パスワードリセットの申請を受け付けました。</p>
    <p>以下のリンクをクリックして、新しいパスワードを設定してください。</p>
    <p>
    <a href="http://localhost:8000/auth/resetPassword?token=<%= @token %>">パスワードリセット</a>
    </p>
    <p>このリンクは15分間有効です/p>
  </body>
</html>