.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    label {
      input {
        display: block;
        width: 300px;
        height: 30px;
      }
    }
  }
  .forgotPasswordLink {
    // margin-bottom: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }

  .loginBtn {
    width: 300px;
    height: 30px;
    background-color: rgb(45, 45, 74);
    border-radius: 5px;
    font-size: 20px;
    transition: .3s;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .promptSignup {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 10px;
    }
    .signupBtn {
      width: 300px;
      height: 30px;
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      font-size: 20px;
      transition: .3s;
      margin-bottom: 20px; 
      cursor: pointer;
      
      &:hover {
        opacity: 0.5;
      }
    }
  }
}